<nav class="navbar navbar-expand fixed-top p-0">
  <div class="container-fluid">
    <div class="navbar-brand ms-0">Dawid Stawiszyński</div>

    <div class="navbar-collapse collapse">
      <div class="me-auto navbar-nav">
        <a class="nav-link" routerLink="#">Home</a>
        <a class="nav-link" routerLink="#">About</a>
        <a class="nav-link" routerLink="#">Experience</a>
        <a class="nav-link" routerLink="#">Projects</a>
      </div>

      <div class="ms-auto navbar-nav">
        <a class="nav-link" href="https://www.linkedin.com/in/dawid-stawiszynski" target="_blank"><app-icon [iconName]="'linkedin'"></app-icon></a>
        <a class="nav-link" href="mailto:dawidstawiszynski2@gmail.com"><app-icon [iconName]="'mail'"></app-icon></a>
        <a class="nav-link" href="https://github.com/xalpol12" target="_blank"><app-icon [iconName]="'github'"></app-icon></a>
      </div>

    </div>
  </div>

</nav>
