nav {
  background-color: var(--background-lighter);
}

a {
  color: inherit;
  &:hover {
    color: var(--accent);
  }
}

.navbar-brand {
  color: var(--text);
}

.nav-link:focus{
  color: var(--accent) !important;
}

@media only screen and (max-width: 600px) {
  .navbar-brand,
  .me-auto {
    display: none;
  }
}
