nav {
  background-color: var(--background-lighter);
}

a {
  color: inherit;
  &:hover {
    color: var(--accent);
  }
}

.title {
  padding-right: 1rem;
}

.nav-link:focus{
  color: var(--accent) !important;
}
//.nav-link.click,
//.nav-link.active {
//  color: var(--accent) !important;
//}
