.about-me-content {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.about-me-desc {
  text-align: justify;
  margin-right: 50px;
}

a {
  color: var(--accent);
  text-decoration: none;
}
