.about-me-content {
  margin-left: 16px;
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.about-me-desc {
  text-align: justify;
  margin-right: 50px;
}

a {
  color: var(--accent);
  text-decoration: none;
}

app-framed-image {
  padding-right: 10px;
}

@media only screen and (max-width: 600px) {
  .about-me-desc {
    width: 100%;
    margin: auto;
    padding: 4px;
    box-sizing: border-box;
  }
}
