<app-section-header [sectionTitle]="'about me'"></app-section-header>
<div class="about-me-content">
  <div class="about-me-desc">
    <p>
      I am currently a fourth year automatics and robotics student at
      <a href="https://www.put.poznan.pl/" target="_blank">Poznań University of Technology</a>.
      I have two years of non-commercial programming experience.
      Here are technologies that I am most familiar with:
    </p>
    <app-technologies-itemize></app-technologies-itemize>
    <p>
      In my free time I read, watch movies, record and listen to music.
      Well, sometimes. Currently learning Angular and trying to move to Linux environment
      (and use <a href="https://github.com/xalpol12/nvim-config" target="_blank">vim</a> btw).
    </p>
  </div>
  <div class="about-me-img">
<!--    <app-framed-image class="ms-2" [imageName]="'me-png.png'"></app-framed-image>-->
  </div>
</div>
