.custom-icon {
  display: inline-block;
  width: 24px;
  height: 100%;
  mask-size: cover;
}

.icon-container {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
