.image-container {
  position: relative;
  display: inline-block;
}

.image-container img {
  display: block;
  max-width: 300px;
  z-index: 1;
}

.image-container::before,
.image-container::after {
  content: '';
  position: absolute;
  width: 50%;
  height: 50%;
  background-color: var(--accent);
  z-index: -1;
  transition: transform 0.3s ease;
}

.image-container::before {
  top: -6px;
  left: -6px;
}

.image-container:hover::before {
  transform: translateY(calc(100% + 12px));
}

.image-container::after {
  bottom: -6px;
  right: -6px;
}

.image-container:hover::after {
  transform: translateY(calc(-100% - 12px));
}

@media only screen and (max-width: 788px) {
  .image-container img {
    max-width: 200px;
  }
}

@media only screen and (max-width: 600px) {
  .image-container {
    display: none;
  }
}
