a {
  text-decoration: none;
}

#navbar {
  padding-bottom: 100px;
}

.content {
  width: 100%;
  max-width: 1000px;
  margin: auto;
}

.full-page {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  padding: 20px;
  box-sizing: border-box;
}

div > app-about-me {
  margin-bottom: 200px;
}
