<div class="card">
  <div class="card-title d-flex justify-content-between align-items-center">
    <div class="title">
      {{projectData?.title}}
    </div>
    <div class="links">
      <a *ngIf="projectData?.ghLink" href="{{projectData?.ghLink}}" target="_blank">
        <app-icon [iconName]="'github'" [iconColor]="'var(--accent)'"></app-icon>
      </a>
    </div>
  </div>
  <div class="tech-stack" *ngIf="projectData?.techStack">
    {{projectData?.techStack! | techStackFormat }}
  </div>
  <div class="card-body">
    {{projectData?.frontDescription}}
  </div>
  <div class="card-footer d-flex justify-content-center">
    <button class="btn">
      >Learn more<
    </button>
  </div>
</div>
