/* You can add global styles to this file, and also import other style files */

@import "bootstrap/dist/css/bootstrap.css";

:root {
  --background: #11111B;
  --background-lighter: #181825;
  --text: #CDD6F4;
  --text-sub: #A6ADC8;
  --accent: #A6E3A1;
  --default-font-size: 16px;
  --default-text-color: var(--text);
}

* {
  margin: 0;
  padding: 0;
}

/* Reset font-family for Bootstrap elements */
body,
h1, h2, h3, h4, h5, h6,
p,
a,
ul, ol, li,
button {
  font-family: 'VT323', monospace;
}

body {
  font-size: var(--default-font-size);
  color: var(--default-text-color);
  background-color: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

@media screen and (min-width: 768px) {
  :root {
    --default-font-size: 18px;
  }
}

@media screen and (min-width: 1200px) {
  :root {
    --default-font-size: 20px;
  }
}
