.container-fluid {
  margin-bottom: 100px;
}

.btn {
  text-align: left;
}

.selected {
  border-right: 3px solid var(--accent);
}

.nav-pills .nav-link {
  color: var(--text);
  border-radius: 0;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: var(--accent);
  background-color: var(--background-lighter);
}
